body {
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.5;
  text-align: center;
}

/* Header */

header {
  display: flex;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100;
  flex-direction: row;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo img {
  height: 50px;
}

nav {
  position: fixed;
  right: 0;

}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-decoration: underline;
}

nav ul li {
  margin: 0 16px;
}

/* Main */
main {
  position: relative;
  top: 69px;
  margin: 0 20px;
}

/* Mission */
.mission {
  display: flex;
  height: 700px;
  background-image: url("./assets/images/img-mission-background.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: black;
  width: 100%;
}

/* Featured Tea */
.featured_tea {
  width: 1000px;
  margin: 80px auto;
}

.gallery {
  display: inline-flex ;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  margin: 0 15px;
}

.photo img {
  width: 300px;
  height: 200px;
}

/* Locations */
.locations {
  background-image: url("./assets/images/img-locations-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
}

.addresses {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.address {
  width: 300px;
  margin: 0 20px;
  background-color: black;
  line-height: 3.6rem;
}

/* Contact */
.contact {
  height: 200px;
}

/* Copyright */
.copyright {
  float: left;
}
