body {
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.5;
  text-align: center;
}

/* Header */

header {
  display: flex;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100;
  flex-direction: row;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo img {
  height: 50px;
}

nav {
  position: fixed;
  right: 0;

}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-decoration: underline;
}

nav ul li {
  margin: 0 16px;
}

/* Main */
main {
  position: relative;
  top: 69px;
  margin: 0 20px;
}

/* Mission */
.mission {
  display: flex;
  height: 700px;
  background-image: url("./assets/images/img-mission-background.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: black;
  width: 100%;
}
